.grid-wrapper 
{
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-rows: 2fr 2fr 2fr;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-areas: 
        "header         header      navbar"
        "contents       contents    navbar"
        "footer         footer      footer";
}

.header
{
    grid-area: header;
    background-color: gray;
    display: block;
    margin: 0;
    padding: 2px;
    border: 6px solid yellow;
    border-radius: 3px;
    width: 80vw;
    height: 50vh;
    
}

.contents 
{
    grid-area: contents; 
    height: 70vh;
    padding: 0px;
    margin: 0;
}

.content
{
    background-color: darkolivegreen;
    border: 2px solid black;
    display: inline-flex;
    width: 42vw;
    height: 69vh;
    padding: 0;
    
}
.navbar 
{
    grid-area: navbar;
    background-color: gray;
    display: block;
    width: 14vw;
    height: 85vh;
    transform: translate(10px, -1px);
}

.footer 
{
    grid-area: footer;
    background-color: gray;
    display: inline-block;
    border: 1px solid white;
    padding:0;
    margin:0;
    width: 10vw;
    height: 13vh;
    

    <br><br> <h2>Tonight's Playlist:</h2>
            <ul>
                <li>Zodi (feat. Mr Eazi) | <a href="#">Jidenna</a></li>
                <li>Make It Better (feat. Smokey Robinson | <a href="#">Anderson .Paak</a></li>
                <li>I'm Not OK | <a href="#">H.E.R.</a></li>
                <li>Go DJ | <a href="#">KAYTRANADA</a></li>
                <li>I THINK | <a href="#">Tyler, The Creator</a></li>
                <li>BALDWIN (feat Nico Segal) | <a href="#">Jamila Woods</a></li>
            </ul>

            <br><br><h2>Social Media</h2>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">GitHub</a></li>